<nav>
    <button class="btn btn-primary sidebar-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></button>
    <button class="logout-btn"></button>
</nav>

<section class="main">
    <img src="/img/ranger.png" alt="Foto de uma Ranger" class="main__img"/>
    
    <div class="pop-up">
        <p class="pop-up__header">Sistema de Dados FORD</p>
        <p class="pop-up__text">Seja Bem-Vindo(a)!</p>
    </div>
</section>

<app-sidebar></app-sidebar>