:host {
    width: 30vw;
}

.sidebar__logo {
    width: 30%;
}

.sidebar__body {
    display: flex;
    flex-direction: column;
    column-gap: 1vh;
}

.sidebar__link {
    padding: 2vh 5vh;
    background-color: #adadad;
    color: var(--blue);
    font-weight: 500;
    text-decoration: none;
}

/* REVERTING BOOTSTRAP */
ol,
ul {
  padding-left: 0;
}

ol,
ul,
dl {
  margin: 0;
}